<div class="ui-g-12">

  <div class="jumbotron text-center">
    <h1>CONSULTAS DE VENDAS</h1>
  </div>
  <div class="ui-g-10">
    <p-button [routerLink]="['cadastrar']" label="Nova Venda" icon="pi pi-plus" iconPos="right"></p-button>
  </div>

  <div class="ui-g-10">
    <p-table [value]="vendas" [rows]="10" [paginator]="true" styleClass="my-table">
      <ng-template pTemplate="header">
        <tr>
          <th>#</th>
          <th>Preço</th>
          <th>Data Venda</th>
          <th>Cliente</th>
          <th>Veículo</th>
          <th>Ação</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-venda>
        <tr>
          <td style="text-align:center">{{venda.codigoVenda}}</td>
          <td style="text-align:center">{{venda.precoVenda | currency:'BRL':true}}</td>
          <td style="text-align:center">{{venda.dataVenda | date: 'dd/MM/yyyy'}}</td>
          <td style="text-align:center">{{venda.cliente !== null ? venda.cliente.nome : ''}}</td>
          <td style="text-align:center">{{venda.veiculo !== null ? venda.veiculo.marca +' - '+venda.veiculo.modelo: ''}}
          </td>
          <td style="text-align:center">
            <p-button icon="pi pi-trash" (click)="remover(venda)" style="padding-right: 1px"></p-button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="6" style="text-align:center">
            Nenhum registro encontrado
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>