<div class="ui-g-12 ui-fluid">

  <div class="jumbotron text-center">
    <h1>{{codigo !== undefined ? 'EDIÇÃO' : 'CADASTRO'}} DE VEÍCLOS</h1>
  </div>
  <div class="ui-g-12">

    <div class="ui-g-12 ui-md-4">
      <h3 class="first">Marca</h3>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-drivers-license"></i></span>
        <input type="text" pInputText placeholder="Marca">
      </div>
    </div>
    <div class="ui-g-12 ui-md-4">
      <h3 class="first">Modelo</h3>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-calendar"></i></span>
        <input type="text" pInputText placeholder="Modelo">
      </div>
    </div>
    <div class="ui-g-12 ui-md-4">
      <h3 class="first">Placa</h3>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-users"></i></span>
        <input type="text" pInputText placeholder="Placa">
      </div>
    </div>
  </div>
  <div class="ui-g-12">
    <div class="ui-g-12 ui-md-4">
      <h3 class="first">Preço</h3>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-car"></i></span>
        <input type="text" pInputText placeholder="Preço">
      </div>
    </div>
    <div class="ui-g-12 ui-md-4">
      <h3 class="first">Percentual Desconto</h3>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-users"></i></span>
        <input type="text" pInputText placeholder="Percentual de Desconto">
      </div>
    </div>
    <div class="ui-g-12 ui-md-4">
      <h3 class="first">Ano</h3>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-users"></i></span>
        <input type="text" pInputText placeholder="Ano">
      </div>
    </div>
  </div>
  <div class="ui-g-12">
    <div class="ui-g-12 ui-md-4">
      <h3 class="first">Motor</h3>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-users"></i></span>
        <input type="text" pInputText placeholder="Motor">
      </div>
    </div>
  </div>
  <div class="btn-login ui-g-12">
    <p-button [routerLink]="['/veiculos']" label="Voltar" icon="fa fa-reply" iconPos="right" style="margin-right: 1px">
    </p-button>
    <p-button label="Salvar" (click)="salvar()" icon="pi pi-check" iconPos="right"></p-button>
  </div>